{%- set mainMenu = menus.getMenu("main-menu") -%}

<!DOCTYPE html>
<html lang="{{ site.info("language") }}">
<head>
    <meta http-equiv="content-type" content="{{ site.info("html_type") }}; charset=UTF-8"/>
    <meta name="description" content="{{ site.info("description") | escape("html_attr") }}"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link href="https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet"/>

    {{ doAction("wp_head") -}}
</head>
<body class="{{ wp("get_body_class") | join(" ") }}">

<header class="app-bar is-base-light is-main shadow-4" id="main-header">
    <div class="container my-5">
        <nav class="nav nav-head flex-row align-items-center">
            <a href="{{ url() }}" class="mr-auto">
                <img src="{{ themeUri("resource/image/logo.png") }}" srcset="{{ themeUri("resource/image/logo.png") }} 1x, {{ themeUri("resource/image/logo@2x.png") }} 2x" alt="{{ site.info("name") }}" height="43"/>
            </a>

            <input type="checkbox" id="main-header-toggle" class="lg:d-none"/>

            {% if mainMenu != null %}
                <div class="d-flex align-items-center" id="main-header-menu">
                    {% for item in mainMenu.items %}
                        <a href="{{ item.url }}" class="nav-link {{ item.classes | join(" ") }} {{ item.isActive ? "is-active" : "is-inactive" }}"><span>{{ item.label }}</span></a>
                    {% endfor %}
                </div>
            {% endif %}
        </nav>
    </div>
</header>
